{% extends "notebook/base.html" %}
{% block content %}
    <style>
body {
    background-color: #333; /* ciemne tło */
    color: white; /* jasny tekst */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.note {
    background-color: rgba(255, 255, 255, 0.1); /* transparentne tło dla formularza */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
}

.note-form {
    margin-top: 20px;
}

.note-form button {
    margin-top: 10px;
}
        .back-button-container {
            text-align: center;
            margin: 20px 0;
        }
        .back-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }
        .back-button:hover {
            background-color: #0056b3;
        }
        .back-button-container {
    margin-top: 20px;
}
    </style>
<div class="main-container">
    <div class="note-main">
        <div class="container">
            <div class="note">
                <h1>Edycja notatki</h1>

                <form method="post" class="note-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-primary">Edytuj notatkę</button>
                </form>
                    <div class="back-button-container">
        <a href="{% url 'base:note_list' %}" class="back-button" id="back-button">Powrót do listy</a>
    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
